@import url('https://fonts.googleapis.com/css?family=Marcellus|Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    text-align: center;
    color: white;
    text-shadow: 0 0 0.75rem black;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;

    section {
        display: flex;
        justify-content: space-between;
        background-color: rgba(black, 0.25);
        padding: 1em;
        border-radius: 0 0 25% 25%;

        #citation::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '"';
            font-size: 2em;
            color: goldenrod;
        } 
        #citation::after {
            position: absolute;
            bottom: 1em;
            right: 0;
            content: '"';
            font-size: 2em;
            color: goldenrod;
        }
        #citation {
            position: relative;
            margin: 1em;
            padding: 1em;
            font-size: 1.2em;
            text-align: justify;

            #monAuteur {
                display: block;
                font-size: 1.1em;
                text-align: left;
                color: goldenrod;
                text-shadow: 0 0 0.3em black;
            }
        }
    }

    h1 {
        padding-top: 15vh;
        font-size: 20vh;
        font-family: 'Marcellus', serif;
    }
    h2 {
        line-height: 2em;
        text-shadow: 0 0 0.3em black;
        background-color: rgba(black, 0.25);
        margin-bottom: 0.5em;

        #nom {
            border: none;
            background: none;
            height: 100%;
            width: 5em;
            border-radius: 0.1em;
            font-size: 1.1em;
            font-family: 'Open Sans', sans-serif;
            color: white;
            text-shadow: 0 0 0.3em black;

            &:focus {
                outline: none;
                border-bottom: solid 0.1em rgba(white, 0.5);
            }
        }
    }
    #inputToDo {
        border-radius: 0.3em;
        margin-bottom: 1em;
        padding: 0.5em;
        background-color: rgba(white, 0.25);
        border: outset gray 0.1em;

        &:focus {
            outline: none;
            border: inset gray 0.1em;
        }
    }
    #maToDoList {
        padding-left: 35%;

        li {
            padding: 0.5em;
            list-style: none;
            text-align: left;
        
            label {
                margin: 0 0.2em 0 0.5em;
            }
        
            button {
                position: absolute;
                padding: 0.2em 0.4em;
                font-size: 0.5em;
                color: pink;
                text-shadow: 0 0 0.1em red;
                background: rgba(black, 0.5);
                border: none;
                border-radius: 0.2em;
        
                &:hover {
                    text-shadow: 0 0 0.5em red;
                }
            }
        }
    }    
    #lieu {
        text-align: left;
        position: fixed;
        bottom: 0;
        padding: 1em;
    }
}

